#menuBG {
    width:400px;
    height:470px;
    margin:10px auto;
}

#frmMenu {
    width:600px;
    height:200Px;
}

#totalPrice {
    width:200px;
    height:190px;
    margin:20px auto;
    float:right;
}

.left {
    width:200px;
    height:200px;
    float:left;
}

.center {
    width:200px;
    height:200px;
    float:left;
}

.right {
    width:200px;
    height:200px;
    float:right;
}

#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}

#cart {
    top:0;margin:0px auto;
    width:400px;
    height:200px;
}

#btnOrder {
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px;
    display: block;
    margin: 25px auto;
}

body {
    background-color: rgb(255, 201, 102);
}

h1 {
    color: rgb(89, 175, 81);
}

h3 {
    color: rgb(102, 202, 93);
}

h1 {
    font-style:italic;
}

h3 {
    font-style: italic;
}

div {
    font-style: italic;
}

div {
    color:darkgreen;
}

